/* CSS for Moving Grid */
@keyframes move-grid {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animate-move {
    animation: move-grid 15s linear infinite;
}
